/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole Generali */
body {
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.carousel {
    border: 3px solid red;
    width: 100%;
    max-width: 850px;
    height: 60vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
}

#previous {
    left: 0;
}

#next {
    right: 0;
}

.slideContainer {
    width: 100%;
    height: 100%;
    border: 3px solid blue;
}

.slideContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show {
    display: block;
}

.hidden {
    display: none;
}